name: Linters

on: push

jobs:
  linters:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - uses: Gr1N/setup-poetry@v7
      - name: Install dependencies
        run: poetry install --no-interaction

      - name: Analysing the code with pylint
        run: |
          poetry run pylint .

      - name: Running issort
        run: |
          poetry run isort .

      - name: Running mypy
        run: |
          poetry run mypy .
